.content.contentDetail
    .commonTopTxtLineInp
        .topLeft
            c-dialog#dialog2(style="width:80%;height:80%;" c-tag="dialog2")
                .blockHeader
                    span=ll.l("customerInfoQueryResult")
                .content.detailInfoTab
                    c-table(c-bind="customerDetailArr")
                        column(caption=ll.l("choice"))
                            template
                                input(type="radio" name="chooseResult")
                        column(property="partyTypeCode" caption=ll.l("applicantType"))
                            template
                                c-dropdown(c-items="dictionary('CustomerType')"  bind="$default" c-readonly="true" tag="uwTaskTag")
                        column(caption=ll.l("customerID") property="partyId")
                        column(caption=ll.l("customerName") property="idname")
                        column(property="idtypeCode" caption=ll.l("identifyType"))
                            template
                                c-dropdown(c-items="dictionary('IdentityType')"  bind="$default" readonly="true" tag="uwTaskTag" assignment="identifyType=key;identifyName=value;")
                        column(caption=ll.l("identifyNumber") property="idno")
                        column(property="customerGender" caption=ll.l("sex"))
                            template
                                c-dropdown(c-items="dictionary('Sex')"  bind="$default" readonly="true" tag="uwTaskTag")
                        column(caption=ll.l("customerStatus") property="customerStatus")
                .actions
                    c-button.primary(caption=ll.l("confirm") c-onclick="insurantDetailInfo(insurant)")
                    c-button.base(c-onclick='hide()' caption=ll.l("cancel"))
            .riskcircle(c-repeat="insurant in plcInsurant")
                .blockHeader
                    label(c-bind="$index=='1'?'被保人':'被保人'+$index")
                    img.card(src="resources/images/gold_card.png")
                    span.delButton.deleteBlue(c-onclick="assuredDel(insurant,$index)" style="cursor:pointer;margin-top:10px")
                .contentInfo
                    c-form.transparent
                        fields.cols-2(class="productFields")
                            field(class="required")
                                label 被保险人类型
                                c-radio-group.radiobox(items="{{applicantTypeItems}}" c-bind="insurant.customerType" c-post="changeidentifyType(insurant)")
                            field(class="required")
                                label 被保险人
                                c-input(class="productInput" c-bind="insurant.customerName")   
                        fields.cols-2(class="productFields")
                            field(class="required")
                                label 被保险人证件类型
                                c-dropdown(class="productDropdown" c-items="filter(dictionary('IdentityType'),insurant.customerType)" c-bind="insurant.identifyType" assignment="identifyType=key;identifyName=value;")
                                    template(name="value-content")
                                        li(c-bind="insurant.identifyType?(insurant.identifyName):''")
                                    template(name="item-content")
                                        li(c-bind="item.key?(item.key+'-'+item.value):item.value")
                            field(class="required")
                                label 被保险人证件号码
                                c-input(class="productInput" c-bind="insurant.identifyNumber")
                        fields(class="queryInfoFields")
                            field()
                                c-button(caption=ll.l("客户信息查询") class="queryInfoBtn" c-onclick="insurantInfoDialog(insurant,$index,2)")
                    #selfCustomer.selfCustomer.display-none
                        c-form.transparent
                            fields
                                hr()
                            fields.cols-2(class="productFields")
                                field()
                                    label 被保险人代码
                                    c-input(class="productInput" readonly="true" c-bind="insurant.customerCode")
                                field(class="required")
                                    label 被保险人证件有效期限
                                    c-datepicker(c-bind="insurant.identityEffetiveEndDate")
                            fields.cols-2(class="productFields")
                                field()
                                    label 被保险人年龄
                                    c-input(class="productInput" inputType="number" c-bind="insurant.age")
                                field
                                    label 被保险人性别
                                    c-dropdown(items="{{SexType}}" c-bind="insurant.sex" assignment="sex=key;sexName=value;")
                            fields.cols-2(class="productFields")
                                field()
                                    label 被保险人出生日期
                                    c-datepicker(c-bind="insurant.birthdate")
                                field
                                    label 被保险人国籍
                                    c-dropdown(c-items="dictionary('CountryCode')" c-bind="insurant.registeredPlace" assignment="registeredPlaceCode=key;registeredPlace=value;")
                            fields(class="productFields")
                                field()
                                    label 被保险人地址
                                    c-input(c-bind="insurant.address")
                            fields.cols-2(class="productFields")
                                field()
                                    label 被保险人联系电话
                                    c-input(c-bind="insurant.phoneNumber")
                                field
                                    label 被保险人联系手机
                                    c-input(c-bind="insurant.mobile")
                            fields.cols-2(class="productFields")
                                field()
                                    label 被保险人联系邮箱
                                    c-input(c-bind="insurant.email")
                                field
                                    label 被保险人邮政编码
                                    c-input(c-bind="insurant.post")
                            fields.cols-2(class="productFields")
                                field()
                                    label 被保险人境内境外标志
                                    c-radio-group.radiobox(items="{{isWithinForeign}}" c-bind="insurant.isWithinForeign")
                                field
                                    label 开户银行名称
                                    c-input(c-bind="insurant.despositBankName")
                            fields.cols-2(class="productFields")
                                field()
                                    label 银行账户名称
                                    c-input(c-bind="insurant.accountName")
                                field
                                    label 银行账号
                                    c-input(c-bind="insurant.accountNo")
                    #PlcApplicant.grpCustomer.display-none
                        c-form.transparent(bind="insurant.plcGrpCustomer")
                            fields
                                hr()
                            fields.cols-2(class="productFields")
                                field(c-bind="insurant.organizationName" )
                                    label=ll.l('organizationType')
                                    c-dropdown(c-items="dictionary('OrgnizationType(FXQ)')" style="width:20%" c-bind="insurant.organizationName" assignment="organizationType=key;organizationName=value;" showClearButton="false")
                                        template(name="item-content")
                                            li(c-bind="item.key?(item.key+'-'+item.value):item.value")
                                    c-dropdown(c-items="dictionary('EnterpriseNature')" style="width:20%;margin-left:-25px"  c-display="insurant.organizationType=='3'"  c-bind="insurant.organizationSecondType" assignment="organizationSecondType=key;organizationSecondTypeName=value;" showClearButton="false")
                                        template(name="value-content")
                                            li(c-bind="insurant.organizationSecondTypeName")
                                        template(name="item-content")
                                            li(c-bind="item.key?(item.key+'-'+item.value):item.value")
                            fields.cols-3(class="productFields")
                                field(c-bind="insurant.customerEName" )
                                    label=ll.l('customerEnglishName')
                                    c-input()
                                field(c-bind="insurant.customerCode")
                                    label= ll.l('applicantCode')
                                    c-input()
                                field
                                    label=ll.l('validityOfDocuments')
                                    div(style="width:58%;")
                                        c-datepicker(c-bind='insurant.identifyEffectiveStartDate'  displayFormat="yyyy-MM-dd" style="width:49%" tag="uwTaskTag" class="filedCompareDom")
                                        span(class="time-space") -
                                        c-datepicker(c-bind='insurant.identifyEffectiveEndDate'  displayFormat="yyyy-MM-dd" style="width:49%" tag="uwTaskTag" class="filedCompareDom")
                            fields(class="productFields")
                                field(c-bind="insurant.industryCategoryName" style="width: 66%;")
                                    label= ll.l('industry')
                                    c-dropdown(c-items="dictionary('IndustryBigClass')" style="margin-right:2px" c-bind="insurant.industryCategoryName" assignment="industryCategory=key;industryCategoryName=value;" c-change="changeOne(insurant)" showClearButton="false")
                                        template(name="value-content")
                                            li(c-bind="insurant.industryCategoryName?(insurant.industryCategory+'-'+insurant.industryCategoryName):''" )
                                        template(name="item-content")
                                            li(c-bind="item.value?(item.key+'-'+item.value):item.key")
                                    c-dropdown(c-items="insurant.$industrySCategoryList" style="margin-right:2px" c-bind="insurant.industrySCategoryName" dropdownHeight="360px" assignment="industrySCategory=key;industrySCategoryName=value;" c-open="getTwo(apinsurantplicant)" c-change="changeTwo(insurant)" showClearButton="false")
                                        template(name="value-content")
                                            li(c-bind="insurant.industrySCategoryName?(insurant.industrySCategory+'-'+insurant.industrySCategoryName):''")
                                        template(name="item-content")
                                            li(c-bind="item.value?(item.key+'-'+item.value):item.key")
                                    c-dropdown(c-items="insurant.$industryTCategoryList" style="margin-right:2px" c-bind="insurant.industryTCategoryName" dropdownHeight="360px" assignment="industryTCategory=key;industryTCategoryName=value;"  c-open="getThree(insurant)" showClearButton="false")
                                        template(name="value-content")
                                            li(c-bind="insurant.industryTCategoryName?(insurant.industryTCategory+'-'+insurant.industryTCategoryName):''")
                                        template(name="item-content")
                                            li(c-bind="item.value?(item.key+'-'+item.value):item.key")
                                    label= ll.l('rangeFlag')
                                    c-input()
                                field(c-bind="insurant.isLink" )
                                    label=ll.l('isNorelatedParty')
                                    c-radio-group.radiobox(items="{{dictionary('DUMMYFLAG')}}" tag="uwTaskTag" class="itemsCompareDom")
                                //field(c-bind="")
                                //    label 境内外标识
                                //    c-radio-group.radiobox(c-items="dictionary('isWithinForeign')" )
                            fields.cols-3(class="productFields")
                                field(c-bind="insurant.registeredPlace")
                                    label=ll.l('siteCustomerRegistration')
                                    c-dropdown(c-items="dictionary('CountryCode')"  c-bind="insurant.registeredPlace" assignment="registeredPlaceCode=key;registeredPlace=value;" showClearButton="false")
                                field(style="width:66%;" c-bind="insurant.registyAddress")
                                    label= ll.l('registryAddress')
                                    c-input()
                                field(c-bind="insurant.businessAddress")
                                    label= ll.l('businessAddress')
                                    c-input()
                            fields.cols-3(class="productFields")
                                field(c-bind="insurant.busiLicense")
                                    label=ll.l('businessLicense')
                                    c-input(tag="uwTaskTag")
                                field
                                    label=ll.l('termValidityBusinessLicense')
                                    div(style="width:58%;")
                                        c-datepicker(c-bind='insurant.busiLicenseStartDate' displayFormat="yyyy-MM-dd" style="width:49%" class="filedCompareDom")
                                        span(class="time-space") -
                                        c-datepicker(c-bind='insurant.busiLicenseEndDate' displayFormat="yyyy-MM-dd" style="width:49%" class="filedCompareDom")
                                field(c-bind="insurant.taxRegistrationNo")
                                    label=ll.l('taxRegistrationNumber')
                                    c-input( tag="uwTaskTag")
                                field(c-bind="insurant.customerRiskGradeName")
                                    label=ll.l('customerRiskGradeName')
                                    c-dropdown(c-bind="insurant.customerRiskGradeName")
                                        template(name="value-content")
                                            li(c-bind="insurant.customerRiskGradeName?(insurant.customerRiskGrade+'-'+insurant.customerRiskGradeName):''")
                                        template(name="item-content")
                                            li(c-bind="item.value?(item.key+'-'+item.value):item.key")
                            fields(class="productFields")
                                field
                                    label(style="font-weight:900;font-size:13px;")=ll.l('contactInformation')
                            fields.cols-3(class="productFields")
                                field(c-bind="insurant.linkerName")
                                    label= ll.l('linkerName')
                                    c-input()
                                field(c-bind="insurant.linkerPhoneNo")
                                    label= ll.l('linkerPhoneNo')
                                    c-input(c-post="matchlinkerMobile(insurant)")
                                field(c-bind="insurant.linkerMobile")
                                    label= ll.l('mobileNumber')
                                    c-input(c-post="matchPhoneNo(insurant)")
                            fields.cols-2(class="productFields")
                                field(c-bind="insurant.mailAddress" class="mailAddress")
                                    label=ll.l('mailingAddress')
                                    c-input()
                                field(c-bind="insurant.mailAddressPost" class="mailAddPost")
                                    label= ll.l('postcode')
                                    c-input(tag="uwTaskTag" maxLength="6")
                            fields.cols-2(class="productFields")
                                field(c-bind="insurant.facsimile")
                                    label=ll.l('fax')
                                    c-input()
                                field(c-bind="insurant.email")
                                    label=ll.l('mailbox')
                                    c-input()
                            fields(class="productFields")
                                field
                                    label(style="font-weight:900;font-size:13px;")=ll.l('enterpriseLegalPersonInformation')
                            fields.cols-3(class="productFields")
                                field(c-bind="" )
                                    label
                                    label(style="max-width:12em;width:150px;font-weight:900")=ll.l('controllingShareholder/actualControllerInformation')
                                field(c-bind="")
                                    label
                                    label(style="font-weight:900")=ll.l('informationLegalRepresentative')
                                field(c-bind="" )
                                    label
                                    label(style="font-weight:900")=ll.l('personChargeInformation')
                            fields.cols-3(class="productFields")
                                field(c-bind="insurant.shareholdersName")
                                    label=ll.l('customerName')
                                    c-input()
                                field(c-bind="insurant.applialeaderName")
                                    label=ll.l('customerName')
                                    c-input()
                                field(c-bind="insurant.responsibleName")
                                    label=ll.l('customerName')
                                    c-input()
                            fields.cols-3(class="productFields")
                                field(c-bind="insurant.shareholdersCerTypeName" )
                                    label=ll.l('identifyType')
                                    c-dropdown(dropdownHeight="360px" c-items="filter(dictionary('IdentityType'),1)" c-post="cleanShareholdersCerNo(insurant.plcGrpCustomer)"  c-bind="insurant.shareholdersCerTypeName" assignment="shareholdersCerType=key;shareholdersCerTypeName=value;" showClearButton="false")
                                field(c-bind="insurant.applialeaderTypeName" )
                                    label=ll.l('identifyType')
                                    c-dropdown(dropdownHeight="360px" c-items="filter(dictionary('IdentityType'),1)" c-post="cleanApplialeaderId(insurant.plcGrpCustomer)" c-bind="insurant.applialeaderTypeName" assignment="applialeaderType=key;applialeaderTypeName=value;" showClearButton="false")
                                field(c-bind="insurant.responsibleCerTypeName" )
                                    label=ll.l('identifyType')
                                    c-dropdown(dropdownHeight="360px" c-items="filter(dictionary('IdentityType'),1)" c-post="cleanResponsibleCerNo(insurant.plcGrpCustomer)" c-bind="insurant.responsibleCerTypeName" assignment="responsibleCerType=key;responsibleCerTypeName=value;" showClearButton="false")
                            fields.cols-3(class="productFields")
                                field(c-bind="insurant.shareholdersCerNo")
                                    label=ll.l('identifyNumber')
                                    c-input()
                                field(c-bind="insurant.applialeaderId")
                                    label=ll.l('identifyNumber')
                                    c-input()
                                field(c-bind="insurant.responsibleCerNo")
                                    label=ll.l('identifyNumber')
                                    c-input()
                            fields.cols-3(class="productFields")
                                field
                                    label=ll.l('validDateDocument')
                                    div(style="padding-right: 28px;")
                                        c-datepicker(c-bind='insurant.shareholdersCerStartDate' displayFormat="yyyy-MM-dd" style="width:48%" class="filedCompareDom")
                                        span(class="time-space") -
                                        c-datepicker(c-bind='insurant.shareholdersCerEndDate' displayFormat="yyyy-MM-dd" style="width:48%" class="filedCompareDom")
                                field
                                    label=ll.l('validDateDocument')
                                    div(style="padding-right: 28px;")
                                        c-datepicker(c-bind='insurant.applialeaderCerStartDate' displayFormat="yyyy-MM-dd" style="width:48%" class="filedCompareDom")
                                        span(class="time-space") -
                                        c-datepicker(c-bind='insurant.applialeaderCerEndDate' displayFormat="yyyy-MM-dd" style="width:48%" class="filedCompareDom")
                                field
                                    label=ll.l('validDateDocument')
                                    div(style="padding-right: 28px;")
                                        c-datepicker(c-bind='insurant.responsibleCerStartDate' displayFormat="yyyy-MM-dd" style="width:48%" class="filedCompareDom")
                                        span(class="time-space") -
                                        c-datepicker(c-bind='insurant.responsibleCerEndDate' displayFormat="yyyy-MM-dd" style="width:48%" class="filedCompareDom")
                                field(c-bind="insurant.businessSphere")
                                    label= ll.l('businessSphere')
                                    c-dropdown(dropdownHeight="360px" assignment="businessSphereCode=key;businessSphere=value;" c-items="businessSphereCodeList" textProperty="value" valueProperty="key")
                                        template(name="item-content")
                                            li(c-bind="item.value?(item.key+'-'+item.value):item.key")
                                field(c-bind="applicant.pkId").display-none
                                    label pkId
                                    c-input()
        .Xaddpolicy(c-onclick="addassured('plcInsurant')")
            span.add_Block
            span.addApplicant=ll.l("添加被保人") 